In [ ]:
import pandas as pd
df = pd.read_csv("/content/Crime against Women (2001-2022).csv")
df.head()

,CRIME HEAD,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Rape,16075,16373,15847,18233,18359,19348,20737,21467,21397,...,33707,36735,34651,38947,32559,33356,32033,28046,31677,31516
1,Kidnapping and Abduction of Women & Girls,14645,14506,13296,15578,15750,17414,20416,22939,25741,...,51881,57311,59277,64519,66333,72751,72780,62300,75369,85310
2,Dowry Deaths,6851,6822,6208,7026,6787,7618,8093,8172,8383,...,8233,8455,7634,7621,7466,7167,7115,6966,6753,6450
3,Assault on women with intent to outrage her mo...,34124,33943,32939,34567,34175,36617,38734,40413,38711,...,70739,82235,82422,84746,86001,89097,88367,85392,89200,83344
4,Insult to the modesty of Women,9746,10155,12325,10001,9984,9966,10950,12214,11009,...,12589,9735,8685,7305,7451,6992,6939,7065,7788,8972

In [ ]:
df.shape

(11, 23)

In [ ]:
df.columns

Index(['CRIME HEAD', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [ ]:
df.head(3)

,CRIME HEAD,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Rape,16075,16373,15847,18233,18359,19348,20737,21467,21397,...,33707,36735,34651,38947,32559,33356,32033,28046,31677,31516
1,Kidnapping and Abduction of Women & Girls,14645,14506,13296,15578,15750,17414,20416,22939,25741,...,51881,57311,59277,64519,66333,72751,72780,62300,75369,85310
2,Dowry Deaths,6851,6822,6208,7026,6787,7618,8093,8172,8383,...,8233,8455,7634,7621,7466,7167,7115,6966,6753,6450

In [ ]:
df.rename(columns={'CRIME HEAD': 'Crime_Type'}, inplace=True)

In [ ]:
df_long = df.melt(
    id_vars='Crime_Type',
    var_name='Year',
    value_name='Crime_Count'
)

df_long.head()

                                          Crime_Type  Year  Crime_Count
0                                               Rape  2001        16075
1          Kidnapping and Abduction of Women & Girls  2001        14645
2                                       Dowry Deaths  2001         6851
3  Assault on women with intent to outrage her mo...  2001        34124
4                     Insult to the modesty of Women  2001         9746

In [ ]:
df_long['Year'] = df_long['Year'].astype(int)
df_long['Crime_Count'] = pd.to_numeric(df_long['Crime_Count'], errors='coerce')

df_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Crime_Type   242 non-null    object
 1   Year         242 non-null    int64
 2   Crime_Count  242 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.8+ KB

In [ ]:
df_long.isnull().sum()

Crime_Type     0
Year           0
Crime_Count    0
dtype: int64

In [ ]:
df_long = df_long.dropna()

### Data Reshaping

- Converted dataset from wide to long format
- Each row now represents a crime type in a specific year
- Data spans from 2001 to 2022
- Dataset is now suitable for analysis and ML

In [ ]:
df_long.to_csv("/content/cleaned_crime_data.csv", index=False)

In [ ]:
from google.colab import files
files.download("/content/cleaned_crime_data.csv")